{% extends 'student/mybase.html' %}
{% load staticfiles %}
{% block body_block %}


<head>

  <title>Upload Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>

<!--<h2><center>Upload Report</center></h2>
{% if errorreport %}


    
  <h4> Course Name: </h4>
  <h4> Teacher Name: </h4>
<p>Status of {{filename}} file</p>
<p>Total records = {{totalrecords}}</p>
<p> Valid Records = {{validcount}}  </p>
<p> Invalid Records = {{invalidcount}} </p> -->
<div class="container">
<div class="table-responsive">
  	
  <table  class="table table-striped" >
    <thead>
      <tr>
        <th class="col-sm-2">Record No</th>
        <th class="col-sm-2">Roll No</th>
        <th class="col-sm-3">Username</th>
        <th class="col-sm-4">Email</th>
        <th class="col-sm-4">Message</th>

      </tr>
    </thead>
    <tbody>
        {% for error  in errorreport %}
          <tr>
            <td>{{error.recordno}}</td>
            <td>{{error.roll_no}}</td>
            <td>{{error.username}}</td>
            <td>{{error.email}}</td>
            <td>{{error.error_message}}</td>
            
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endif %}
{% endblock %}
{% block my_block %}
<p> &nbsp &nbsp &nbsp   <a href="/downloadcsv/1">Valid Students </a></p>
<p> &nbsp &nbsp &nbsp   <a href="/downloadcsv/2">Invalid Students </a></p> 

{% endblock %}

{% block data_block %}
<h2><center><b>UPLOAD REPORT</b></center></h2><br>
  
 <h5>Total Students:  {{totalrecords}}  for {{coursename}}</h5>
 <h5>Valid Records = {{validcount}}</h5>
 <h5>Invalid Records = {{invalidcount}}</h5></pre>
{% endblock %}



