{% extends 'base2.html' %}
{% load staticfiles %}



<head>

  <title>Students Information Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>-->
</head>
<body>
{% block header %}
<header><h2>{{fname}} Status Report  ({{coursename}})   </h2></header>
<table class="table table-hover">

    <tr><td>Total  Details:  {{totalrecords}} </td></tr>

 <tr><td>Valid Details: {{validcount}}</td></tr>
 <tr><td>Invalid Details: {{invalidcount}}</td></tr>
</table>
{% endblock %}

{% block body_block %}

  

<div class="container">
<div class="table-responsive">
  
  <table  class="table table-striped" >
    {% if errorreport %}	
    <thead>
      <tr>
        <th class="col-sm-2">Record No</th>
        <th class="col-sm-2">Roll No</th>
        <th class="col-sm-3">Username</th>
        <th class="col-sm-4">Email</th>
        <th class="col-sm-4">Message</th>

      </tr>
    </thead>

    <tbody>
        {% for error  in errorreport %}
          <tr>
            <td>{{error.recordno}}</td>
            <td>{{error.roll_no}}</td>
            <td>{{error.username}}</td>
            <td>{{error.email}}</td>
            <td >{{error.error_message}}</td>
            
          </tr>
        {% endfor %}
    </tbody>
{% else %}
<tr align="center"> No Error Records</tr>
{% endif %}
  </table>
</div>
</div>


{% endblock %}
{% block my_block %}
<p> &nbsp &nbsp &nbsp   <a href="/downloadcsv/1">Valid Students </a></p>
<p> &nbsp &nbsp &nbsp   <a href="/downloadcsv/2">Invalid Students </a></p> 

{% endblock %}




