<!DOCTYPE html>
{% load staticfiles  %}
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">  
<title>Your Password Created Successfully</title>
<link rel="icon" type="image/x-icon" href="https://www.iitbombayx.in/static/images/favicon.ico">
<link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'css/lms-main_vendor.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'css/require-config-lms.js' %}"></script>
<meta name="path_prefix" content="">
</head>
<body class="view-passwordreset lang_en js">
<header class="global " aria-label="Global Navigation">
<nav>
     <h1 class="logo">
          <a href="/"><img src="{% static 'images/swayamlogo_header.png' %}" alt="IITBombayX"></a>
     </h1>
     <ol class="left nav-global authenticated">
          <li class="nav-global-01">
               <a href="https://www.iitbombayx.in/all_courses/all">Find Courses</a>
          </li>
     </ol>
</nav>
</header>
 
<div class="content-wrapper" id="content"> 
<section class="introduction">
<header>
     <img src="{% static 'images/iitbxheader.png' %}"/>
          <h1 class="title">
          <span class="title-super">
               Your Password Created Successfully
          </span>
          </h1>
</header>
</section>

<section class="passwordreset container">    
<section role="main" class="content">      
     Your password has been set. You may go ahead and <a href="/">log in</a> now.
</section>    
</section>
</div>

<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}
.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>

<div class="wrapper wrapper-footer" style="width:auto;">
     <footer>
          <div class="colophon">
          <div class="colophon-about">
               <img src="{% static 'images/swayamlogo_footer.png' %}" style="width:auto; height:auto;" alt="IITBombayX Logo">
          </div>
          </div>
</div>
</body></html>
