<!DOCTYPE html>
{% load staticfiles  %}
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
     Login Page
</title>
<!--<script type="text/javascript" src="login.js"></script>-->
<link rel="icon" type="image/x-icon" href="">
<link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">
<!--  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">-->
</head>

<body class="ltr view-login lang_en js">
<div class="window-wrap" dir="ltr">
<header class="global " aria-label="Global Navigation">
<nav>
     <h1 class="logo">
          <a href="/"><img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50"></a>
     </h1>
     <ol class="left nav-global">
          <li class="nav-global-04">
          Information System for Blended MOOCs 
         </li>
     </ol>
</nav>
</header>

<div class="content-wrapper" id="content"></div>
<style>
.view-register .wrapper-footer footer .colophon-about img, .view-login
.wrapper-footer footer .colophon-about img {
    margin-top: 0px;
}

.content-wrapper{
padding-bottom:0px;
background:#F7F7F7 !important;
font-family: "Open Sans",Arial,Helvetica,sans-serif;
margin-top:76px;
}

header.global{
position:fixed;
top:0px;
}

.view-login .container{
background:#FFF;
}
</style>

<section class="introduction">
<header>
<img src="{% static 'images/iitbxheader.png' %}"/>
     <h1 class="title">
          <span class="title-super">Please log in</span>
          <span class="title-sub">to access your account </span>
     </h1>
</header>
</section>

<section class="login container">
<section role="main" class="content">
<form role="form" id="login-form" method="post" action="" > {% csrf_token %}
     <p>
          {{ error_message }}
     </p>
     <div class="group group-form group-form-requiredinformation">
          <h2 class="sr">Required Information</h2>
               <ol class="list-input">
                    <li class="field required text" id="field-email">
                         <label for="email">E-mail</label>
                         <input class="" id="email" name="email" value="" placeholder="example: username@domain.com" required="" aria-required="true" aria-described-by="email-tip" type="email" >
                    </li>
                    <li class="field required password" id="field-password">
                         <label for="password">Password</label>
                         <input id="password" name="password" value="" required="" aria-required="true" type="password">
                         <span class="tip tip-input">
                         <a href="/forgot_pass/" rel="leanModal" class="pwd-reset action action-forgotpw" id="forgot-password-link" role="button" aria-haspopup="true">Forgot password?</a>
                         </span>
                    </li>
               </ol>
     </div>
     <div class="group group-form group-form-secondary group-form-accountpreferences">
              <!-- <ol class="list-input">
                    <li class="field required checkbox" id="field-remember">
                         <input id="remember-yes" name="remember" value="true" type="checkbox">
                         <label for="remember-yes">Remember me</label>
                    </li>
               </ol>-->
     </div>
     <div class="form-actions">
          <button name="submit" type="submit" id="submit" class="action action-primary action-update login-button">Log in</button>
     </div>
</form>
</section>

<aside role="complementary">
<div class="cta cta-help">

<h3>Not Yet Created Password?</h3>
          
<p>

          <p><a href="/createpasslink/" >Create password</a></p></p>



<h3>Important Links</h3>
          
<p>

          <p><a href={% static 'BM_User_Manaual.pdf' %} target=_blank>User Manual</a></p></p>
<h3>Administrative Help</h3>
<p>
eoutreach@it.iitb.ac.in<br>
022-2576 4989</p>

<h3>Software Support</h3>
<p>
bmwsoftwareteam@cse.iitb.ac.in <br>
022-2576 4987
</p>

</div>
</aside>
</section>
</div>

<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}
.wrapper-footer footer{
width:960px;
margin:auto;
}
</style>
<div class="wrapper wrapper-footer" style="width:auto;">
 <footer style="width:90%;">
    <div class="colophon" style="width:43%">
      <nav class="nav-colophon" style="margin-bottom:20px;">
   <ol>
          <li class="nav-colophon-01">         
 <a href="https://www.iitbombayx.in/" target=_blank>
<img border="0"  src="https://www.iitbombayx.in/static/themes/iitbombayx-theme/images/swayamlogo_footer.d0b4c54d012f.png" style="width:100px; height:60px;" alt="IITBombayX Logo">
</a>
          </li>
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li class="nav-colophon-01"><br> 
<a href="http://www.it.iitb.ac.in/moodle/"><img border="0"  src="https://moodle.org/theme/image.php/moodleorgcleaned_moodleorg/theme_moodleorgcleaned/1436262404/moodle-logo" style="width:100px; height:34px;" alt="DBP's Moodle">
</a>
</li>
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<li class="nav-colophon-01"><br> <br>
<a href="http://www.it.iitb.ac.in/nmeict/home.html">T10KT-IITB NMEICT</a>
</li> 
<li class="nav-colophon-01">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </li>
<!--
  <li class="nav-colophon-01">
 <a href="https://www.iitb.ac.in/" target=_blank>
<img border="0"  src="http://www.iitb.ac.in/sites/all/themes/touchm/logo.png" style="width:30px; height:50px;" alt="IIT Bombay">
</a>
          </li>-->
</nav>
</div>
<div class="references" style="width:50%;font-size:80%;"><p align=justify>The IITBombayX Blended MOOCs system combines the benefits of MOOCs on IITBombayX with the conventional teaching-learning process at the various partnering institutes. This system envisages the factoring of MOOCs marks in the grade computed for a student of that subject, in a regular degree program.
</p></div>
  </footer>
          </div>

</body></html>
