<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
{% load staticfiles  %}
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
      <title>
	Reset Your Account Password
      </title>
  

  <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
      if (window.location !== window.top.location) {
        window.top.location = window.location;
      }
    })(this);
  </script>

  <script type="text/javascript" src="Login_files/a"></script>

  <link rel="icon" type="image/x-icon" href="https://www.iitbombayx.in/static/themes/iitbombayx-theme/images/favicon.22b053d5ddae.ico">

  
  

    <link href="{% static 'css/lms-style-vendor.css' %}" rel="stylesheet" type="text/css">



  
  

    <link href="{% static 'css/lms-style-app.css' %}" rel="stylesheet" type="text/css">



  
  

    <link href="{% static 'css/lms-style-app-extend1.css' %}" rel="stylesheet" type="text/css">



  
  

    <link href="{% static 'css/lms-style-app-extend2.css' %}" rel="stylesheet" type="text/css">




    
    <script type="text/javascript" src="{% static 'css/lms-main_vendor.js' %}" charset="utf-8"></script>


  <script type="text/javascript" src="{% static 'css/require-config-lms.js' %}"></script>

  <!-- dummy segment.io -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    pageview: function() { return; }
  };
</script>
<!-- end dummy segment.io -->


  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">

  <script></script>



</head>

<body class="ltr view-login lang_en js">
  <div class="window-wrap" dir="ltr">
    <a class="nav-skip" href="#content">Skip to this view's content</a>
    

<style>

</style>

 <header class="global " aria-label="Global Navigation">
    <nav>
    <h1 class="logo">
      <a href="/">
        
  <img src="{% static 'images/swayamlogo_header.png' %}" alt="Home Page" height="50">

      </a>
    </h1>


    <ol class="left nav-global">
      
      
<!-- Bharat MOOCs 8th Sept 2014 -->
<!-- Bharat MOOCs 20th Oct 2014 changed href from swayam_courses to all_courses -->
<li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/how_it_works">How it works</a>
          </li>
          <li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/all_courses/all">Courses</a>
          </li>
          <li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/partners">Partners</a>
          </li>

          <li class="nav-global-04">
            <a class="cta cta-register" href="https://www.iitbombayx.in/register">Register Now</a>
          </li>
		
        <li class="nav-global-04">
            <a href="#change_language" rel="leanModal" class="cta cta-register">Language</a>
        </li>

    </ol>

    
<ol class="right nav-courseware">


    <li class="nav-courseware-01">
          <a class="cta cta-login" href="https://www.iitbombayx.in/login">Log in</a>
    </li>
    </ol>
  </nav>
</header>

  

<script type="text/javascript">
  (function() {
    $(document).delegate('#pwd_reset_form', 'ajax:success', function(data, json, xhr) {
      if(json.success) {
        $("#password-reset").html(json.value);
      } else {
        if($('#pwd_error').length == 0) {
          $('#pwd_reset_form').prepend('<div id="pwd_error" class="modal-form-error">Email is incorrect.</div>');
        }
        $('#pwd_error').stop().css("display", "block");
      }
    });

    // removing close link's default behavior
    $('#login-modal .close-modal').click(function(e) {
     e.preventDefault();
    });

    var onModalClose = function() {
      $("#forgot-password-modal").attr("aria-hidden", "true");
      $("#forgot-password-link").focus();
    };
    
    var cycle_modal_tab = function(from_element_name, to_element_name) {
      $(from_element_name).on('keydown', function(e) {
          var keyCode = e.keyCode || e.which;
          var TAB_KEY = 9;  // 9 corresponds to the tab key
          if (keyCode === TAB_KEY) {
              e.preventDefault();
              $(to_element_name).focus();
          }
      });
    };
    $("#forgot-password-modal .close-modal").click(onModalClose);
    cycle_modal_tab("#forgot-password-modal .close-modal", "#pwd_reset_email");
    cycle_modal_tab("#pwd_reset_email", "#pwd_reset_button");
    cycle_modal_tab("#pwd_reset_button", "#forgot-password-modal .close-modal");

    // Hitting the ESC key will exit the modal
    $("#forgot-password-modal").on("keydown", function(e) {
        var keyCode = e.keyCode || e.which;
        // 27 is the ESC key
        if (keyCode === 27) {
            e.preventDefault();
            $("#forgot-password-modal .close-modal").click();
        }
    });

  })(this)
</script>


    <div class="content-wrapper" id="content">
      
<!-- Bharat MOOCs 19th Sept 2014 Language selection box added -->



<section style="display: none;" id="change_language" class="modal modal-settings-language" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="change_language_title">
    <button class="close-modal">
      <i class="icon-remove"></i>
      <span class="sr">
        Close
      </span>
    </button>

    <header>
      <h2>
        <span id="change_language_title">Change Preferred Language</span>
        <span class="sr">,
          window open
        </span>
      </h2>
      <hr>
    </header>
    <div id="change_language_body">
      <form action="/i18n/setlang/" method="post" class="settings-language-form" id="settings-form"> 
      <input name="csrfmiddlewaretoken" value="19qP8yfbtwAIL5pXYDhgqLZvKXEEffr8" type="hidden">
        <ol class="list-input">
          <li class="field text settings-language-select" id="settings-language-select">
            <label class="label sr" for="settings-language-value">Please choose your preferred language</label>
<!--Bharat_MOOC : Added  onchange="myFunction()-->
            <select class="input select" id="settings-language-value" name="language" onchange="myFunction()">
                    <option selected="selected" value="en">English</option>
                    <option value="hi">हिन्दी</option>
            </select>
          </li>
        </ol>
<!--Bharat_MOOC : Added div -->
        <div id="support" style="color:#FF0000;"></div>

        <div class="submit">
          <input id="submit-lang" value="Save Language Settings" type="submit">
        </div>
      </form>

<!--      <ul class="list list-actions actions-supplemental">
        <li class="list-actions-item">
        Don't see your preferred language? <a class=" action action-volunteer" rel="external" target="_blank" href=https://github.com/edx/edx-platform/blob/master/docs/en_us/developers/source/i18n_translators_guide.rst>Volunteer to become a translator!</a>
        </li>
      </ul>                -->
    </div>
  </div>
</section>















<!-- Bharat MOOCs 23rd Sept 2014 Formatting -->
<style>
.view-register .wrapper-footer footer .colophon-about img, .view-login
.wrapper-footer footer .colophon-about img {
    margin-top: 0px;
}

.content-wrapper{
padding-bottom:0px;
background:#F7F7F7 !important;
font-family: "Open Sans",Arial,Helvetica,sans-serif;
margin-top:76px;
}

header.global{
position:fixed;
top:0px;
}

.view-login .container{
background:#FFF;
}
</style>


<section class="introduction">
  <header>
<img src="{% static 'images/iitbxheader.png' %}"/>
    <h1 class="title">
      <span class="title-super">RESET YOUR ACCOUNT PASSWORD</span>
      <span class="title-sub"></span>
    </h1>
  </header>
</section>

<section class="login container">
  <section role="main" class="content">
    <form role="form" id="login-form" method="post" action="" > {% csrf_token %}

      <!-- status messages  
      <div role="alert" class="status message">
        <h3 class="message-title">We're Sorry, IITBombayX accounts are unavailable currently</h3>
      </div>
-->
      <div role="alert" class="status message submission-error" tabindex="-1">
        <h3 class="message-title">We couldn't log you in. </h3>
        <ul class="message-copy">
          <li>Your email or password is incorrect</li>
        </ul>
      </div>

      <div role="alert" class="third-party-signin message" tabindex="-1">
        <p class="instructions"> </p>
      </div>

      <p class="instructions sr">
        Please enter a new password for your account. Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.
      </p>
	<p>
	   {{ message }}
	</p>
        <p class="instructions">
        Please enter your new password twice so we can verify you typed it in correctly. <br> Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.
        </p>

        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="sr">Required Information</legend>

          <ol class="list-input">
            <li class="field required password" id="field-new_password1">
              <label for="new_password1">Your New Password</label>
              <input id="new_password1" name="new_password1" placeholder="*****" type="password">
            </li>
            <li class="field required password" id="field-new_password2">
              <label for="new_password2">Your New Password Again</label>
              <input id="new_password2" name="new_password2" placeholder="*****" type="password">
            </li>
          </ol>
	</fieldset>

      <div class="form-actions">
        <button name="submit" type="submit" id="submit" >Change My Password</button>
      </div>


    </form>


  </section>

  <aside role="complementary">
      <header>
      <h3 class="sr">Password Reset Help</h3>
      </header>

      <div class="cta cta-help">
        <h3>Need Help?</h3>
        <p>
          <a href="https://www.iitbombayx.in/faq">View our help section for contact information and answers to commonly asked questions</a>
        </p>
      </div>




    

  </aside>
  </section>


      
    </div>

    






<style>
.wrapper-footer{
padding-top:16px;

}

.wrapper-footer footer .references{
margin-top:0px;
}

.wrapper-footer footer .colophon .nav-colophon li a {
        border-bottom:none !important;
	color:#3D3E3F;
}



/*.wrapper-footer footer .colophon .nav-colophon li a {
	border-bottom:none !important;
    color: #3D3E3F !important;
}

.wrapper-footer footer .colophon .nav-colophon li a:hover{
    color: #FF621B !important;
}

.wrapper-footer footer a:link, .wrapper-footer footer a:visited, .wrapper-footer footer a:hover, .wrapper-footer footer a:focus, .wrapper-footer footer a:active {
    border-bottom: medium none;
    color: #E44600;
    text-decoration: none !important;
}

.wrapper-footer footer a:hover, .wrapper-footer footer a:focus, .wrapper-footer footer a:active {
    border-bottom: 1px dotted #FF621B;
    color: #FF621B;
}*/

.wrapper-footer footer{
width:960px;
margin:auto;
}

</style>

<div class="wrapper wrapper-footer" style="width:auto;">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon" style="margin-bottom:20px;">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="https://www.iitbombayx.in/about">
              About
          </a>
          </li>
	  <!-- Bharat MOOCs -->
          <li class="nav-colophon-02" style="color:#565656;">
          <a id="news" href="http://news.iitbombayx.in/" target="_blank">
              News
          </a>
          </li>
          <li class="nav-colophon-03" style="color:#565656;">
          <a id="blog" href="http://blogs.iitbombayx.in/" target="_blank">
              Blog
          </a>
          </li>
          <li class="nav-colophon-04" style="color:#565656;">
          <a id="faq" href="https://www.iitbombayx.in/faq">
              FAQ
          </a>
          </li>
          <li class="nav-colophon-05" style="color:#565656;">
          <a id="contact" href="https://www.iitbombayx.in/contact">
              Contact Us
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
<!-- Bharat MOOCs-->
        <img src="{% static 'images/swayamlogo_footer.png' %}" style="width:auto; height:auto;" alt="IITBombayX Logo">

        <p style="text-align:justify; color:#565656;">From database</p> 
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-02">
            <a href="https://www.facebook.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-facebook.png' %}" alt="edX on Facebook">
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/iitbombayx" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-twitter.png' %}" alt="edX on Twitter">
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/u/0/113536343441190768869" target="_blank" rel="external">
              <img src="{% static 'images/ico-social-google.png' %}" alt="edX on Google+">
            </a>
          </li>
          <!--li class="nav-social-05">
            <a href="#"  target="_blank" rel="external">
              <img src="/static/images/social/ico-social-youtube.909f05910c79.png" alt="edX on YouTube" />
            </a>
          </li-->
        </ul>
      </nav>

      <!--p class="copyright" style="text-align:right; color:#050505; margin-bottom:11px;">&copy; 2014 IITBombayX, except where noted, all rights reserved</p-->

      <nav class="nav-legal">
        <ul style="display:block;float:right;text-align:right;">
          <li class="nav-legal-01" style="display:block;">
		<style>.wrapper-footer footer .references .nav-legal .nav-legal-01 a:after {content:none;}</style>
            <a style="display: inline-block;" href="https://www.iitbombayx.in/tos" target="_blank">Terms of Service and Honour Code</a>
          </li>
          <li class="nav-legal-02" style="display:block;">
            <a style="display: inline-block;" target="_blank" href="https://www.iitbombayx.in/privacy">Privacy Policy</a>
          </li>
          <li class="nav-legal-03" style="display:block; float:right;">	
		 <style>.wrapper-footer footer .references .nav-legal .nav-legal-03 a:hover{border-bottom:0px;}</style> 
            <a style="display: inline-block; " href="http://openedx.org/" target="_blank"><img src="{% static 'images/edx-openedx-logo-tag.png' %}" style="padding-top:2.5em; float:right; width:150px; height:50px;" alt="Powered by Open edX"></a>

          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>


  </div>

  <script>window.baseUrl = "/static/";</script>
    
    <script type="text/javascript" src="Log%20into%20your%20IITBombayX%20Account%20%7C%20IITBombayX_files/lms-application.js" charset="utf-8"></script>


    
    <script type="text/javascript" src="Log%20into%20your%20IITBombayX%20Account%20%7C%20IITBombayX_files/lms-modules.js" charset="utf-8"></script>


<!--
  
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // show forgot password modal UI if URL contains matching DOM ID
      if ($.deparam.fragment()['forgot-password-modal'] !== undefined) {
        $('.pwd-reset').click();
      }

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
        window.open( $(this).attr('href') );
        return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

      $("#email").focus();
    });

    (function() {
      toggleSubmitButton(true);

      $('#login-form').on('submit', function() {
        toggleSubmitButton(false);
      });

      $('#login-form').on('ajax:error', function(event, request, status_string) {
        toggleSubmitButton(true);

        if (request.status === 403) {
          $('.message.submission-error').removeClass('is-shown');
          $('.third-party-signin.message').addClass('is-shown').focus();
          $('.third-party-signin.message .instructions').html(request.responseText);
        } else {
          $('.third-party-signin.message').removeClass('is-shown');
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error').html(gettext("Your request could not be completed.  Please try again."));
        }
      });

      $('#login-form').on('ajax:success', function(event, json, xhr) {
        if(json.success) {
          var u=decodeURI(window.location.search);
          var next = u.split("next=")[1];
          if (next != undefined) {
            // if next is undefined, decodeURI returns "undefined" causing a bad redirect.
            next = decodeURIComponent(next);
          }
          if (next && !isExternal(next)) {
            location.href=next;
          }  else if(json.redirect_url){
            location.href=json.redirect_url;
          } else {
            location.href="/dashboard";
          }
        } else if(json.hasOwnProperty('redirect')) {
          var u=decodeURI(window.location.search);
          if (!isExternal(json.redirect)) { // a paranoid check.  Our server is the one providing json.redirect
              location.href=json.redirect+u;
          } // else we just remain on this page, which is fine since this particular path implies a login failure
            // that has been generated via packet tampering (json.redirect has been messed with).
        } else {
          toggleSubmitButton(true);
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error .message-copy').html(json.value);
        }
      });
      $("#forgot-password-link").click(function() {
        $("#forgot-password-modal").show();
        $("#forgot-password-modal .close-modal").focus();
      });

    })(this);

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          removeProp('disabled').
          html("Login");
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("Processing your account information…");
      }
    }

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    (function post_form_if_pipeline_running(pipeline_running) {
       // If the pipeline is running, the user has already authenticated via a
       // third-party provider. We want to invoke /login_ajax to loop in the
       // code that does logging and sets cookies on the request. It is most
       // consistent to do that by using the same mechanism that is used when
       // the use does first-party sign-in: POSTing the sign-in form.
       if (pipeline_running) {
         $('#login-form').submit();
       }
    })(false)
  </script>


-->


<div style="display: none; opacity: 1;" id="lean_overlay"></div><div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
